body {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(0,0,0,1) 50%, rgba(22,22,22,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(0,0,0,1) 50%, rgba(22,22,22,1) 100%);
    background: linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(0,0,0,1) 50%, rgba(22,22,22,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161616",endColorstr="#161616",GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
}

h1 {
    color: #ff8212;
}

h2 {
    color: #949494;
}

h3 {
    color: #949494;
}

h4 {
    color: #ff8212;
}

p {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*carousel*/
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

/*grid promociones*/
.promotion {
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #C822FF;
}

.grid-item:hover {
    background-color: #535353;
    border-radius: 10px;
}

.productos {
    width: 90%;
    border-radius: 5px;
}

.description {
    width: 90%;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #272727;
}

.description p {
    margin: 0px;
}

blockquote {
    border-radius: 10px;
}

.info {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #616161;
    border: 1px solid #ff8212;
    padding: 10px;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
}

/* Productos */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    background-color: #f8f9fa;
    border: 1px solid #ff8212;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-title {
    font-weight: bold;
    margin: 10px 0;
}

.product-title {
    margin: 0px;
}

.product-price {
    color: #ff8212;
    font-weight: bold;
}

/*Whatsapp*/
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    border-radius:50%;
    z-index:100;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp:hover {
    transform: scale(1.2);
    cursor: pointer;
}

iframe {
    width: 90%;
    height: 300px;
    border-radius: 5px;
    margin: 10px;
}

/*Informacion*/
.informacion {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.infomaps {
    width: 90%;
}

.infoimg {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imginfo {
    width: 80%;
    margin: 5px;
}

.imginfo:hover {
    transform: scale(1.5);
    cursor: pointer;
}

/* footer */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

footer p {
    margin: 0px;
}

.socialmedia:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.footer-information {
    width: 100%;
    border-top: 1px solid #C822FF;
    border-bottom: 1px solid #C822FF;
    background-color: #111111;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.footer-information:hover {
    transition: all .3s ease-in-out;
}

.contact {
    margin: 20px;
}

.emails {
    margin: 30px;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 1150px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Cambiamos a una sola columna en dispositivos móviles */
    }
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {
    .footer-information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr; /* Cambiamos a una sola columna en dispositivos móviles */
    }
    
    .grid-item {
        text-align: left; /* Alineamos el texto a la izquierda en dispositivos móviles */
    }
    
    .info {
        position: static; /* Cambiamos la posición de info para que aparezca debajo en dispositivos móviles */
        display: block;
        width: auto;
        border: none;
        padding: 10px;
    }
}