body {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(0,0,0,1) 50%, rgba(22,22,22,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(0,0,0,1) 50%, rgba(22,22,22,1) 100%);
    background: linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(0,0,0,1) 50%, rgba(22,22,22,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161616",endColorstr="#161616",GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
}

h1 {
    color: #ff8212;
}

p {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*carousel*/
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

/*grid promociones*/
.promotion {
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.grid-item:hover {
    background-color: #535353;
    border-radius: 10px;
}

blockquote {
    border-radius: 10px;
}

.info {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #616161;
    border: 1px solid #ff8212;
    padding: 10px;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
}

/*Whatsapp*/
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    border-radius:50%;
    z-index:100;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/*footer*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.socialmedia:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.emails {
    width: 100%;
    border-top: 1px solid #C822FF;
    margin-top: 10px;
}

.emails2 {
    margin: 20px;
}

.emails2 p {
    margin: 0px;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 1150px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Cambiamos a una sola columna en dispositivos móviles */
    }
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Cambiamos a una sola columna en dispositivos móviles */
    }
    
    .grid-item {
        text-align: left; /* Alineamos el texto a la izquierda en dispositivos móviles */
    }
    
    .info {
        position: static; /* Cambiamos la posición de info para que aparezca debajo en dispositivos móviles */
        display: block;
        width: auto;
        border: none;
        padding: 10px;
    }
}